.services {
  padding-top: rem(80px);
  padding-bottom: rem(26px);
}

.services__section-header {
  margin-bottom: 16px;
}

.services__tagline {
  color: #8d8d8d;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.services__card {
  margin-bottom: 50px;
}
