<header class="section-header{{#if class}} {{class}}{{/if}}">
  <p class="section-header__subtitle">{{subtitle}}</p>
  <h2 class="section-header__title">{{title}}</h2>
  <svg>
    <use href="#curve"></use>
  </svg>
</header>